.correct {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  background-color: red;
  border: 3px solid red;
}

.reset-btn {
  background-color: white;
  border: 1px solid black;
}
