.container-feedback {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 700px;
}

.avatar {
  border: 4px solid #ea5d5d;
  border-radius: 100%;
  filter: drop-shadow(0 0 9px #ea5d5d);
  height: 213px;
  margin-bottom: 26px;
  width: 213px;
}

.message {
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
}

.points {
  color: #b5b5b5;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.btn-feedback {
  align-items: center;
  align-self: center;
  background-color: var(--green-prymary);
  border-radius: 5px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  width: 400px;
}

.btn-feedback:hover {
  background-color: var(--green-secondary);
}
